@import '../../style/import/import';

.text_and_image {
  margin: 120px 0;
  padding: 90px 0;
  background: linear-gradient(106.17deg, rgba(14, 53, 57, 0.6) 0%, rgba(8, 30, 33, 0.4) 100%);
  border-top: 1px solid rgba(73, 167, 163, .12);
  border-bottom: 1px solid rgba(73, 167, 163, .12);
  box-shadow: 0 0 50px 30px rgba(1, 8, 9, .5);
  backdrop-filter: blur(14px);
  background: #001619;
  transition: all .3s ease;

  &__subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: $teal_tx;
  }

  &__title {
    margin-bottom: 32px !important;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.96px;
    color: $tx;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: $tx;
  }
}