@import '../../style/import/import';

.text_and_image {
  margin: 120px 0;
  padding: 90px 0;
  background: linear-gradient(106.17deg, rgba(14, 53, 57, 0.6) 0%, rgba(8, 30, 33, 0.4) 100%);
  border-top: 1px solid rgba(73, 167, 163, .12);
  border-bottom: 1px solid rgba(73, 167, 163, .12);
  box-shadow: 0 0 50px 30px rgba(1, 8, 9, .5);
  backdrop-filter: blur(14px);
  background: #001619;
  transition: all .3s ease;
  @include rwd-max(1024) {
    padding: 80px 0;
    margin: 80px 0;
  }

  .container_grid {
    @include rwd-range(1024, 768) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      width: 100%;
    }
  }

  .text_and_image__description {
    font-size: 18px;
    line-height: 29px;
    color: $tx;
  }

  .text_and_image__button {
    margin-top: 32px;
  }

  .text_and_image__image {
    @include rwd-max(1024) {
      margin: 32px auto 0;
    }
    @include rwd-max(767) {
      max-width: 300px;
    }
  }
}