// fonts
$fb: 16px;
$ff: 'Inter', sans-serif;
$icons: 'icons';

// colors#e09836
$cl: #ff9f1c;
$teal_tx: #49a7a3;
$grey: #fcf8f9b3;

$bg: #021517;
$bg2: #071F22;

$tx: #F2F2F2;
$tx_black: $bg;
$tx_grey: #fcf8f9b3;
$border: #0F2E32;
$shadow: rgba(46, 118, 94, 0.25);